{% load staticfiles %}
<html>
<head>
    <title>entrepreneurAdicr</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Open+Sans+Condensed:300,300italic,700"
          rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--chng-->
    <script>

    </script>
</head>
<body>

<nav class="navbar navbar-inverse firstContainer">
    <div class="container-fluid">

        <!--Logo-->

        <div class="navbar-header">

            <!--If space is not there then this button will help to expand-->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'mywebsite:firstPage' %}">entrepreneurAdicr</a>

        </div>

        <!--Item-->
        <div class="collapse navbar-collapse" id="topNavBar">
            <form class="navbar-form navbar-left" role="search" method="get" action="#">
                <input type="text" class="form-control" name="q" value="" placeholder="ex..">
                <button type="submit" class="btn btn-default">Search</button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li class="Internship">
                    <a href="#">
                        <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>&nbsp;
                        Entrepreneurship
                    </a>

                </li>
                <li class="SummerT">
                    <a href="#">
                        <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>&nbsp;
                        Training
                    </a>

                </li>
                <li class="blog">
                    <a href="{% url 'mywebsite:post_new' %}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;
                        Add New Idea
                    </a>

                </li>

                {% if user.is_authenticated  and user.is_active %}

                    <li class="">
                        <a href="{% url 'logout' %}">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;
                            <button class="btn btn-primary">LOGOUT</button>

                        </a>

                    </li>
                {% else %}
                <li class="">
                    <a href="{% url 'login' %}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;
                        <button class="btn btn-primary">Log In</button>

                    </a>

                </li>

                <li class="dropdown">
                    <a href="#">
                        <button class="btn btn-primary dropdown-toggle register" type="button"
                                data-toggle="dropdown"
                                aria-expanded="true">REGISTER
                        </button>

                    </a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>

</nav>
{% block content %}
{% endblock %}
</div>
<nav class="navbar navbar-inverse belowContainer">


    <div class="max-width-container ">

        <div class="container-fluid ">
            <div class="row belowRow">
                <div class="col-md-3 visible-md visible-lg  footer-column">
                    <div class="footer-list">
                        <h3 style="color: silver">
                            Entrepreneurship workshop by cities
                        </h3>
                        <div class="footer-list-item">
                            <a href="#">Mumbai</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">New Delhi</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">Bangolore</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">Kolkata</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">Chennai</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">Ahmedabaad</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">Noida</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">Hyderabad</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">Virtual Entrepreneurship</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 visible-md visible-lg  footer-column">
                    <div class="footer-list">
                        <h3 style="color: silver">Entrepreneurship Ideas in popular categories</h3>
                        <div class="footer-list-item">
                            <a href="#">Online Ideas</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">Mobile Ideas</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">Social Marketing & Business </a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">Service Ideas</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">Fab Fashion</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">Chemical Internship</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">The Beauty Guru</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">Sweet & Lovely Kitchen</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">The Different</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 visible-md visible-lg  footer-column">
                    <div class="footer-list">
                        <h3 style="color: silver">
                            Entrepreneurship Blog & Video
                        </h3>
                        <div class="footer-list-item">
                            <a href="#">TedX talk world</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">TedX talk India</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">Digital Marketing Blog</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">IIT Entrepreneurship Talk</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">Goverment Talk</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">Smart India Blog</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">Data Analytics Training</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">IIM Entrepreneurship Talk</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">Self Motivation Blog</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 footer-column" id="about-us-container">
                    <div class="footer-list">
                        <h3 style="color: silver">About EntrepreneurAdicr</h3>
                        <div class="footer-list-item">
                            <a href="#">About us</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">We're hiring</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">Apply for our company</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">Advertise with us</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">Team Diary</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">Our Services</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">Privacy</a>
                        </div>
                        <div class="footer-list-item">
                            <a href="#">Contact us</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row" id="copyright">
                © Copyright 2017 ENTREPRENEURADICR
            </div>
        </div>

    </div>
</nav>


</body>
</html>