{% extends 'mywebsite/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container-fluid" id="internships">

        <div class="row text-center">
            <div class="col-md-12">
                <h2>
                    Entrepreneurship workshop in popular cities
                </h2>

            </div>

        </div>

        <div class="cityContainer">
            <img src="{% static 'images/Mumbai.jpg' %}" class=" cityImage">
        </div>

        <div class=" cityContainer">
            <img src="{% static 'images/Ahmedabaad.jpg' %}" class="cityImage">

        </div>

        <div class="cityContainer">
            <img src="{% static 'images/Bangolore.jpg' %}" class=" cityImage">
        </div>

        <div class=" cityContainer">
            <img src="{% static 'images/Chennai.jpg' %}" class="cityImage">
        </div>

        <div class=" cityContainer">
            <img src="{% static 'images/Kolkata.jpg' %}" class="cityImage">
        </div>

        <div class="cityContainer">
            <img src="{% static 'images/Hyderabaad.jpg' %}" class="cityImage">
        </div>


        <div class="row text-center">
            <div class="col-md-12">
                <h2>
                    Entrepreneurship Ideas in popular categories
                </h2>

            </div>

        </div>

        <div class="cityContainer">
            <a href="#"/>
            <img src="{% static 'images/onlineIdeas.jpg' %}" class=" cityImage">

        </div>

        <div class=" cityContainer">
            <a href="#"/>
            <img src="{% static 'images/SocailBusinessIdeas.jpg' %}" class="cityImage">

        </div>

        <div class="cityContainer">
            <a href="#"/>
            <img src="{% static 'images/MobileIdeas.jpg' %}" class=" cityImage">

        </div>

        <div class=" cityContainer">
            <a href="#"/>
            <img src="{% static 'images/ServiceIdea.jpg' %}" class="cityImage">

        </div>

        <div class=" cityContainer">
            <a href="#"/>
            <img src="{% static 'images/TheBeautyGuru.jpg' %}"
                 class="cityImage">

        </div>

        <div class="cityContainer">
            <a href="#"/>
            <img src="{% static 'images/TheDifferent.jpg' %}" class="cityImage">

        </div>

        <div class="row text-center">
            <div class="col-md-12">

                <a href="{% url 'mywebsite:post_list' %}">

                    <button class="btn btn-primary">View all Program and Idea</button>

                </a>
            </div>

        </div>
    </div>

    <hr>

    <div class="container" style="text-align: center">
        <div class="row text-center">
            <div class="col-md-12">
                <h2>
                    Entrepreneurship Trainings
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="cityContainer">
                    <img src="{% static 'images/onlineIdeas.jpg' %}" class="cityImage">

                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="cityContainer">
                    <img src="{% static 'images/MobileIdeas.jpg' %}" class="cityImage">

                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="cityContainer">
                    <img src="{% static 'images/SocailBusinessIdeas.jpg' %}"
                         class="cityImage">

                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="cityContainer">
                    <img src="{% static 'images/ServiceIdea.jpg' %}" class="cityImage">

                </div>
            </div>


        </div>


        <div class="row text-center">
            <div class="col-md-12">
                <h1>
                    <a href="#">
                        <button class="btn btn-primary">View all training programs</button>
                    </a>
                </h1>

            </div>

        </div>

    </div>

    <hr>

    <div class="container" style="text-align: center">
        <div class="row text-center">
            <div class="col-md-12">
                <h2>
                    Entrepreneurship Blog & Video
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="cityContainer">
                    <img src="{% static 'images/onlineIdeas.jpg' %}" class="cityImage">

                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="cityContainer">
                    <img src="{% static 'images/MobileIdeas.jpg' %}" class="cityImage">

                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="cityContainer">
                    <img src="{% static 'images/SocailBusinessIdeas.jpg' %}"
                         class="cityImage">

                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="cityContainer">
                    <img src="{% static 'images/ServiceIdea.jpg' %}" class="cityImage">

                </div>
            </div>


        </div>


        <div class="row text-center">
            <div class="col-md-12">
                <h1>
                    <a href="#">
                        <button class="btn btn-primary">View all blog & Video</button>
                    </a>
                </h1>

            </div>

        </div>

    </div>
{% endblock %}