{% extends 'mywebsite/base2.html' %}

{% block content %}
    <div class="cotainer-fluid" id="ideaDetail">
        <div class="row">

            <div class="col-md-12">
                <h1 id="ideaTitle">
                    {{ post.title }}
                </h1>
            </div>

        </div>

            <div class="row">

                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                               <tr>
                                   <th>
                                       <button class="btn btn-primary" id="ideaButton">

                                       Idea Shared By
                                           </button>
                                   </th>
                                   <th>
                                       <button class="btn btn-primary" id="ideaButton">
                                       Created On
                                       </button>
                                   </th>
                                   <th>
                                       <button class="btn btn-primary" id="ideaButton">
                                       Idea Categories
                                       </button>
                                   </th>
                                   <th>
                                       <button class="btn btn-primary" id="ideaButton">
                                       Cofounder of Ideas
                                       </button>
                                   </th>
                               </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>

                                        {{ post.author }}

                                    </td>

                                    <td>

                                        {{ post.created_date }}

                                    </td>

                                    <td>

                                        {{ post.ideaCategories}}
                                    </td>

                                    <td>

                                        {{ post.cofounderOfIdeas }}
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

     <div class="row">
         <div class="col-md-12">
             <p id="ideaDetailDescription">
                    {{ post.text|linebreaksbr }}
             </p>

         </div>

     </div>


        <div class="row">
            <div class="col-md-12">
                <h2>
                    Similar projects
                </h2>
                <p>
                    Add a link to a similar project, latest article or a cool video related to this idea.
                </p>
                <button class="btn btn-primary" id="ideaButton">Add Link</button>
                <br>
                <hr>
                <h2>
                    Interested
                </h2>
                <p>
                    Get in touch with people passionate about realizing this idea. Show others how you can contribute
                    (eg. webdesign, funding, media coverage, launch in your country).
                </p>
                <button class="btn btn-primary" id="ideaButton">I wanna do this</button>
                <hr>

                <a class="btn btn-default" href="{% url 'mywebsite:add_comment_to_post' pk=post.pk %}">Add comment</a>
                {% for comment in post.comments.all %}
                    <div class="comment">
                        <div class="date">
                            {{ comment.created_date }}
                            {% if not comment.approved_comment %}
                                <a class="btn btn-default"
                                   href="{% url 'mywebsite:comment_remove' pk=comment.pk %}"><span
                                        class="glyphicon glyphicon-remove"></span></a>
                                <a class="btn btn-default"
                                   href="{% url 'mywebsite:comment_approve' pk=comment.pk %}"><span
                                        class="glyphicon glyphicon-ok"></span></a>
                            {% endif %}
                        </div>
                        <strong>{{ comment.author }}</strong>
                        <p>{{ comment.text|linebreaks }}</p>
                    </div>
                {% empty %}
                    <p>No comments here yet :(</p>
                {% endfor %}


            </div>


        </div>

    </div>


    <hr>

{% endblock %}