{% extends 'mywebsite/base.html' %}
{% load staticfiles %}
{% block content %}
<head>
	<title>Workshop</title>
	<link href="style1.css" rel="stylesheet" type="text/css">
</head>
<body class="class1">
<div class="class2" >
  <h1>  <a href="/create-workshop/" id="df">+ request a workshop</a></h1>



<div class="rt-block">
	                        <div id="rt-mainbody">
								<div class="component-content">
	                            	<div class="rt-article"><div class="rt-article-bg">
	<div class="item-page">








					<p>&nbsp;</p>
<table border="0">
<tbody>
<tr>
<td valign="top">
<p><span style="font-size: 24px; font-weight: 300; color: #544b4b;"><img style="margin-top: 50px; margin-right: 20px;" src="http://www.maiaworkshops.org/images/imm/2w.png" alt="1w" width="50" height="45"></span></p>
</td>
<td style="width: 350px;" valign="top">
<p><span style="font-size: 24px; font-weight: 300; color: #544b4b;">Workshop 1</span></p>
<p>&nbsp;</p>
<p><span style="color: #67a6ba; font-size: 24px; font-weight: 500; line-height: 30px;">Creative Aspects:</span></p>
<p><span style="color: #67a6ba; font-size: 24px; font-weight: 500; line-height: 30px;"><span style="color: #67a6ba; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18.6667px;">Building Our Identity</span></span></p>
<p><span style="font-size: 18px; color: #cc9c1c;">3-7 April 201</span><br><span style="font-size: 16px; color: #afaaaa;">Lecce, Italy</span></p>
<p>&nbsp;</p>
<p><span style="font-size: 16px; font-weight: 500; color: #544b4b;">APPLICATION <span style="font-size: 16px; font-weight: 500; color: #544b4b;">DEADLINE</span>:</span></p>
<p><span style="font-size: 16px; color: #d9482f; font-weight: 500;">28 February 2017</span></p>
<p>&nbsp;</p>
<!--<p><a class="readon" href="index.php?option=com_content&amp;view=article&amp;id=5&amp;Itemid=110"> <span>APPLICATION</span></a>-->
<p>&nbsp;</p>
</td>
<td style="padding-left: 30px;" valign="top">
<p><span style="color: #cc9c1c;"><strong>Main topics</strong></span></p>
<ul>
<li><span style="font-size: large;">The chronology of the development process and the role of the producer;</span></li>
<li><span style="font-size: large;">Project scouting and script analysis, the producer’s role in the choice of his/her projects;</span></li>
<li><span style="font-size: large;">Managing creativity/creative management applied to company and projects;</span></li>
<li><span style="font-size: large;">Storytelling in the era of converging media;</span></li>
<li><span style="font-size: large;">New opportunities for financing and distribution for projects with cross- and transmedia potential.</span></li>
</ul>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="border-top: 1px solid #D7D7D7; height: 50px;" colspan="3">&nbsp;</td>
</tr>
<tr>
<td valign="top"><img style="margin-top: 50px; margin-right: 20px; opacity: 1;" src="http://www.maiaworkshops.org/images/imm/2w.png" alt="2w" width="50" height="45" smartload="2" class="">
<p>&nbsp;</p>
</td>
<td valign="top">
<p><span style="font-size: 24px; font-weight: 300; color: #544b4b;">Workshop 2</span></p>
<p>&nbsp;</p>
<p><span style="color: #67a6ba; font-size: 24px; font-weight: 500; line-height: 30px;"><span style="color: #67a6ba; font-size: 24px; font-weight: 500; line-height: 30px;">Legal &amp; Financial Issues:<br></span></span></p>
<p><span style="color: #67a6ba; font-size: 24px; font-weight: 500; line-height: 30px;"><span style="color: #67a6ba; font-size: 24px; font-weight: 500; line-height: 30px;"><span style="color: #67a6ba; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18.6667px;">Developing Entrepreneurial Skills</span></span></span></p>
<p><span style="font-size: 16px; color: #afaaaa;"><span style="font-size: 18px; color: #cc9c1c;">19-23 June 2017</span><br>Serbia</span></p>
<p>&nbsp;</p>
<p><span style="font-size: 16px; font-weight: 500; color: #544b4b;"><span style="font-size: 16px; font-weight: 500; color: #544b4b;">APPLICATION <span style="font-size: 16px; font-weight: 500; color: #544b4b;">DEADLINE</span>:</span> </span></p>
<p><span style="font-size: 16px; color: #d9482f; font-weight: 500;">7 May</span><span style="font-size: 16px; color: #d9482f; font-weight: 500;">&nbsp;2017</span></p>
<p>&nbsp;</p>
<!--<p><a class="readon" href="index.php?option=com_content&amp;view=article&amp;id=5&amp;Itemid=110"> <span>APPLICATION</span></a>
				</p>-->
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
<td style="padding-left: 30px;" valign="top">
<p><span style="color: #cc9c1c;"><strong>Main topics</strong></span></p>
<ul>
<li><span style="font-size: large;">The film value chain, emerging business models;</span></li>
<li><span style="font-size: large;">Accessing public and private funds, regional, national and European, financing strategies;</span></li>
<li><span style="font-size: large;">Co-production agreements, the changing world of copyright, music rights etc.;</span></li>
<li><span style="font-size: large;">Strategic planning, low &amp; micro budget filmmaking;</span></li>
<li><span style="font-size: large;">Alternative and complementary financing strategies on cross- and transmedia projects;</span><span style="font-size: large;"></span></li>
</ul>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="border-top: 1px solid #D7D7D7; height: 50px;" colspan="3">&nbsp;</td>
</tr>
<tr>
<td valign="top">
<p><img style="margin-top: 50px; margin-right: 20px; opacity: 1;" src="http://www.maiaworkshops.org/images/imm/3w.png" alt="3w" width="50" height="45" smartload="3" class=""></p>
</td>
<td valign="top">
<p><span style="font-size: 24px; font-weight: 300; color: #544b4b;">Workshop 3</span></p>
<p>&nbsp;</p>
<p><span style="color: #67a6ba; font-size: 24px; font-weight: 500; line-height: 30px;"><span style="color: #67a6ba; font-size: 24px; font-weight: 500; line-height: 30px;"><span style="color: #67a6ba; font-size: 24px; font-weight: 500; line-height: 30px;">Marketing</span><span style="color: #67a6ba; font-size: 24px; font-weight: 500; line-height: 30px;">&amp; Distribution:</span><br> </span> </span></p>
<p><span style="color: #67a6ba; font-size: 24px; font-weight: 500; line-height: 30px;"><span style="color: #67a6ba; font-size: 24px; font-weight: 500; line-height: 30px;"><span style="color: #67a6ba; font-size: 24px; font-weight: 500; line-height: 30px;"><span style="color: #67a6ba; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18.6667px;">Sales &amp; Promotion</span></span></span></span></p>
<p><span style="font-size: 18px; color: #cc9c1c;">25-29 September 2017</span><br><span style="font-size: 16px; color: #afaaaa;">Macedonia</span></p>
<p>&nbsp;</p>
<p><span style="font-size: 16px; font-weight: 500; color: #544b4b;"><span style="font-size: 16px; font-weight: 500; color: #544b4b;">APPLICATION <span style="font-size: 16px; font-weight: 500; color: #544b4b;">DEADLINE</span>:</span> </span></p>
<p><span style="color: #d9482f; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px;">30 July 2017</span></p>
<p>&nbsp;</p>
<!--<p><a class="readon" href="index.php?option=com_content&amp;view=article&amp;id=5&amp;Itemid=110"> <span>APPLICATION</span></a>
				</p>-->
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
<td style="padding-left: 30px;" valign="top">
<p><span style="color: #cc9c1c;"><strong>Main topics</strong></span></p>
<ul>
<li><span style="font-size: large;">New business models – crowdfunding, crowdsourcing and online distribution;</span></li>
<li><span style="font-size: large;">Audience building strategies;</span></li>
<li><span style="font-size: large;">Dealing with sales agents; survival guide to markets and festivals;</span></li>
<li><span style="font-size: large;">Social media and viral campaigns;</span></li>
<li><span style="font-size: large;"><span style="font-size: large;">Marketing release strategies.</span></span></li>
</ul>
</td>
</tr>
<tr>
<td style="border-top: 1px solid #D7D7D7; height: 50px;" colspan="3">&nbsp;</td>
</tr>
</tbody>
</table>

			</div>
</div></div>
								</div>
	                        </div>
						</div>
</body>
{% endblock %}