/* properties of blog*/
@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

.detailBox {
    width:1000px;
    border:10px solid black;
	border-radius:10px;
    margin:50px;
  margin-left:450px;
  background-color:#f1d2bd;
}
.titleBox {
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:300px;
    overflow:auto;
}
.commentList li {
    margin:20px;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}


#nk
{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

#d {
    background-color: #605ca4 !important;
    position: relative;
    bottom: 0px;
    color: #020205;
}


/* body tag colour*/
.gallery
{
    margin-left: 90px;
}
.row {
    padding: 20px;
}

.searchImage {
    padding: 0px;
}

.belowRow h3 {
    color: #ffffff;
}

.belowRow a {
    color: #ffffff;
}

.belowContainer {
    background-color:#605ca4 !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 0px !important;
}

.footer-list-item {
    font-size: 80%;

    letter-spacing: 0.8px;

}

@media (max-width: 992px) {
    #footer .footer-list .footer-list-item {
        display: inline-block;
        background-color: #020205;
        padding: 5px 8px;
        border-radius: 3px;
        margin-top: 3px;
        margin-right: 3px;
    }

    a {
        color: silver !important;
    }
}
#copyright {
    padding-bottom: 0px;
}

body{

	background-color: #b5c1de;
}
