* {
    box-sizing: border-box;
}

.navbar-inverse .navbar-toggle {
    border-color: #333;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #9d9d9d;
}


.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

img, embed, object, video{
    max-width: 100%;
}

h2 {
    font-family: 'Catamaran', sans-serif;

}

.nav li .register a button {
    margin-top: 0%;

}

form .form-group {
    margin-top: -12px;
    margin-left: 10% !important;
}

.blog, .Internship, .SummerT {
    margin-top: 1.0% !important;
}

#internships {
    text-align: center;
}
.navbar{
    padding: 10px;
    background-color: #605ca4 !important;
    min-height: 10%;
}

.navbar header{
    position: fixed;
}

#topNavBar{
    margin-top: 20px;
}
#InterA {
    text-align: center;
    margin-bottom: 20px;

}

.cityContainer {

    border-radius: 3px;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    position: relative;
    text-align: center;
    left: 0;
}

.ITimage {
    width: 100%;
    height: auto;
}

.cityImage {
    width: 160px;
    height: 115px;
    padding: 0px;
    margin: 0px;
    z-index: 2000;
    box-shadow: 0px 3px 3px 0px rgba(100, 100, 100, 0.75);
}
.ideaImage{
    width: auto;
    max-height: 70%;
}

.backFirstImage {
    height: 335px;
    min-width: 100%;
}

#copyright {
    color: silver;
    font-weight: bold;
    font-size: 80%;
    text-align: right;
}
.firstContainer {
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 3px 3px 0px rgba(100, 100, 100, 0.75);
    height: 100px;

    margin-bottom: 0%;
}

.navbar-header img {
    max-height: 150px;
    padding-bottom: 30px;
    width: 300px;
}

.row {
    padding: 20px;
}

.searchImage {
    padding: 0px;
}

.belowRow h3 {
    color: #ffffff;
}

.belowRow a {
    color: #ffffff;
}

.belowContainer {
    background-color:#605ca4 !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 0px !important;
}

.footer-list-item {
    font-size: 80%;

    letter-spacing: 0.8px;

}

@media (max-width: 992px) {
    #footer .footer-list .footer-list-item {
        display: inline-block;
        background-color: #020205;
        padding: 5px 8px;
        border-radius: 3px;
        margin-top: 3px;
        margin-right: 3px;
    }

    a {
        color: silver !important;
    }
}



#bg {
    background-image: url("loginBackground.jpg");
}



.loginRow {
    padding-top: 10%;
    padding-bottom: 20%;

}

#copyright {
    padding-bottom: 0px;
}

.post-form textarea, .post-form input {
    min-width: 100%;

}

.post h1 a, .post h1 a:visited {
    color: #ffffff;
}

.thumbnail{
    min-height: 278.719px;
    height: 300.719px;
    margin-bottom: 150px;
    z-index: 2;
}
#ideaTitle{
    text-align: center;
}

#ideaDetail{
    padding: 80px;
}
#d
{background-color: #605ca4 !important;
    position:relative;
    bottom:0px;
    color: #020205;

}
#f
{
    background-color: #f5f8fa;


}
#topNavBar
{
    padding-right: 10px;
padding-left: 0px;
}
#co
{
    padding-left: 0px;
    padding-right: 0px;
}
#jk
{
    margin-top: 0px;
    margin-bottom: 0px;
}
#qfe
{
    background-color: black;
}
#df{
    color: #605ca4;

    margin-left: 500px;
    padding-top: 50px;
    margin-top: 500px;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
	margin-left: 60px;
	margin-right:20px;

}

div.gallery:hover {
    border: 5px solid #777;
	background-color:grey;
}

div.gallery img {
    width: 100%;
    height: 200px;
}

div.desc {
    padding: 15px;
    text-align: center;
}



/* heading properties*/

#heading1
{
	font-family:"comic sans ms";
	margin-left:130px;

}
#heading2
{
	font-family:cooper black;
}



button:hover
{
	background-color:#63c1d0;
}
#div2
{
	margin-left:560px;
}
#div3
{
	margin-left:200px;
}
#div4
{
	margin-left:168px;
}
#text1
{
	margin-left:35px;
	margin-top:9px;
	width:400px;
}
#heading3
{

	font-family:"comic sans ms";

}

#img1:hover
{
	background-color:grey;
}

@media (max-width: 1092px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

#SearchOption{
    width: auto;
}


